.footer {
  width: 100vw;
  height: 3rem;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #666;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.footer-bottom {
  font-size: 0.9rem;
  color: white;
}
